@model PracticalWerewolf.ViewModels.Contractor.ContractorIndexModel

<div class="alert alert-success" role="alert">
    <h4>Application approved!</h4>
    <p>Your application has been approved by a manager!</p>
</div>


<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ajax-contractor-pane" data-tab-name="pending" href="@Url.Action("Pending")">
                    Pending Orders <span class="badge pull-right"></span>
                </a>
            </li>
            <li role="presentation">
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ajax-contractor-pane" data-tab-name="current" href="@Url.Action("Current")">
                    Orders in your truck <span class="badge pull-right"></span>
                </a>
            </li>
            <li role="presentation">
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ajax-contractor-pane" data-tab-name="delivered" href="@Url.Action("Delivered")">
                    Delivered orders <span class="badge pull-right"></span>
                </a>
            </li>
            <li role="presentation">
                <a class="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ajax-contractor-pane" data-tab-name="status" href="@Url.Action("UpdateStatus", "Contractor",  new { id = Model.ContractorInfo.ContractorInfoGuid.ToString() })">
                    Current status <span class="label label-default pull-right">@(Model.ContractorInfo.IsAvailable ? "Available" : "Not available")</span>
                </a>
            </li>
            <li role="presentation">
                <a class="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ajax-contractor-pane" data-tab-name="truck" href="@Url.Action("_Status", "Contractor",  new { id = Model.ContractorInfo.ContractorInfoGuid.ToString() })">
                    Truck and Location
                </a>
            </li>
        </ul>
    </div>
    <div id="ajax-contractor-pane" class="col-md-9">
    </div>
</div>
