@model PracticalWerewolf.ViewModels.TruckDetailsViewModel

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayName("Your Truck")                        
            @Html.ActionLink("Edit Your Truck", "Edit", "Truck", new { id = Model.Guid }, null)
        </div>
        <div class="panel-body">
                <dl >
                    @Html.HiddenFor(Model => Model.Lat, new { id = "Lat" })
                    @Html.HiddenFor(Model => Model.Long, new { id = "Long"})
                    <dt>
                        @Html.DisplayNameFor(model => model.LicenseNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LicenseNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxCapacity.Mass )
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxCapacity.Mass )
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxCapacity.Volume)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxCapacity.Volume)
                    </dd>

                    <dt>
                        @Html.DisplayName("Your Location")
                        @Html.ActionLink("Update Location", "Location", "Truck", new { id = Model.Guid }, null)
                    </dt>
                </dl>
            <div id="map" style="height:400px"></div>
            <script>loadAPI()</script>
        </div>
    </div>
</div>

