@model PracticalWerewolf.ViewModels.TruckDetailsViewModel


<div class="panel panel-default">
    <div class="panel-heading">
        @Html.DisplayName("Your Truck")
        @Html.ActionLink("Edit Your Truck", "Edit", "Truck", new { id = Model.Guid }, new { @class = "btn btn-xs btn-default pull-right" })
    </div>
    <div class="panel-body">
        @Html.HiddenFor(Model => Model.Lat, new { id = "Lat" })
        @Html.HiddenFor(Model => Model.Long, new { id = "Long" })

        <div class="row">
            @Html.LabelFor(model => model.LicenseNumber, new { @class = "col-md-3" })
            @Html.DisplayFor(model => model.LicenseNumber, new { @class = "col-md-6" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.MaxCapacity.Mass, new { @class = "col-md-3" })
            @Html.DisplayFor(model => model.MaxCapacity.Mass, new { @class = "col-md-6" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.MaxCapacity.Volume, new { @class = "col-md-3" })
            @Html.DisplayFor(model => model.MaxCapacity.Volume, new { @class = "col-md-6" })
        </div>

        <div class="row" style="margin-bottom:10px">
            <div class="pull-right col-md-9">
                @Html.ActionLink("Update Location", "Location", "Truck", new { id = Model.Guid }, new { @class = "btn btn-xs btn-default pull-right" })
            </div>
            @Html.Label("Last known truck location", new { @class = "col-md-3" })
        </div>
        <div id="map" style="height:400px"></div>
        <script>loadAPI()</script>
    </div>
</div>
