@model PracticalWerewolf.ViewModels.TruckDetailsViewModel


<div class="panel panel-default">
    <div class="panel-heading">
        @Html.DisplayName("Your Truck")
        <span class="label label-info" title="Your truck's license number'" style="margin-left:10px">@Model.LicenseNumber</span>
        @Html.ActionLink("Edit Your Truck", "Edit", "Truck", new { id = Model.Guid }, new { @class = "btn btn-xs btn-default pull-right" })
    </div>
    <div class="panel-body">
        @Html.HiddenFor(Model => Model.Lat, new { id = "Lat" })
        @Html.HiddenFor(Model => Model.Long, new { id = "Long" })
        
        <p>Your truck can hold an estimated @Model.MaxCapacity.Mass lbs and @Model.MaxCapacity.Volume cubic ft in total. </p>
        <p>Of that capacity, @Model.AvailableCapacity.Mass lbs and @Model.AvailableCapacity.Volume cubic ft are available. </p>
        <div class="pull-right">
            @Html.ActionLink("Update Location", "Location", "Truck", new { id = Model.Guid }, new { @class = "btn btn-xs btn-default pull-right" })
        </div>
        <h4>Last known truck location</h4>

        <div id="map" style="height:400px"></div>
        <script>loadAPI()</script>
    </div>
</div>
