@model PracticalWerewolf.ViewModels.Contractor.ContractorStatusModel

@{
    ViewBag.Title = "_UpdateStatus";
}

<div class="panel panel-default contractor-body-pane">
    <div class="panel-heading">
        Your Status
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ContractorGuid)
            @Html.HiddenFor(m => m.IsAvailable)

            <div class="row">
                <div class="col-md-6">
                    <h4>Change your status </h4>
                    Current status: @(Model.IsAvailable ? "Available" : "Not Available")
                </div>
                <div class="col-md-3 pull-right alert">
                    <input type="submit" value="@(Model.IsAvailable ? "Stop being available" : "Be available")" class="btn btn-default pull-right" />
                </div>
            </div>

            if (Model.IsAvailable)
            {
                <div class="alert alert-warning">
                    <h4>Updating status to unavailable will cancel all pending orders.</h4>
                    You must complete your current orders after indicating you are unavailable.
                </div>
            }
        }
    </div>
</div>