@model PracticalWerewolf.ViewModels.Contractor.CurrentOrderViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}


<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayNameFor(m => m.Orders)
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                @if (Model.Orders != null && Model.Orders.Count() > 0)
                {
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(m => m.Orders.FirstOrDefault().RequestInfo.RequestDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Orders.FirstOrDefault().RequestInfo.PickUpAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Orders.FirstOrDefault().RequestInfo.Size)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            @foreach (var item in Model.Orders)
                            {
                                <td>@item.RequestInfo.RequestDate</td>
                                <td>@item.RequestInfo.Size</td>
                                <td>@item.RequestInfo.PickUpAddress</td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.OrderGuid }) |
                                </td>
                                <td>
                                    @Html.ActionLink("Confirm Order", "Confirmation", "Order", new { id = item.OrderGuid})
                                </td>
                            }
                        </tr>
                    </tbody>
                }
                else
                {
                    <tbody>
                        <tr>
                            No Current Orders in your Truck
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>

</div>

