@using PracticalWerewolf.Models.UserInfos
@model PracticalWerewolf.ViewModels.Contractor.ContractorIndexModel
@{
    ViewBag.Title = "Contract with us!";
}

<head></head>

@Html.Partial("_StatusMessage")

@if (Model.UnapprovedContractorCount.HasValue && Model.UnapprovedContractorCount.Value > 0)
{
    <div class="alert alert-info" role="alert">
        @Html.ActionLink("See pending", "Unapproved", "Contractor", null, new { @class = "btn btn-primary pull-right" })
        
        @if (@Model.UnapprovedContractorCount == 1)
        {
            <h4>Unapproved contractor pending your approval</h4>
            <p>There is one unapproved contractor</p>
        }
        else
        {
            <h4>Unapproved contractors pending your approval</h4>
            <p>There are @Model.UnapprovedContractorCount unapproved contractor</p>
        }
    </div>
}

@if (Model.ContractorInfo != null && Model.ContractorInfo.ApprovalState != ContractorApprovalState.Denied && Model.ContractorInfo.Truck == null)
{
    <div class="alert alert-info" role="alert">
        @Html.ActionLink("Register", "Create", "Truck", null, new { @class = "btn btn-primary pull-right" })
        <h4>No truck on record</h4> 
        <p>Please @Html.ActionLink("register your truck", "Create", "Truck", null, new { @class = "alert-link" }). You will not be considered for jobs until this is complete.</p>
    </div>
}

@if (@Model.ContractorInfo == null)
{
    <div class="jumbotron">
        <h1>Contract</h1>
        <p class="lead">Contract with Practical Werewolf and earn lots of tasty money! </p>
        <p><a href="@Url.Action("Register", "Contractor")" class="btn btn-primary btn-lg">Apply &raquo;</a></p>
    </div>
}
else
{
    if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Pending)
    {
        Html.RenderPartial("_IndexPendingApproval", Model);
    }
    else if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Denied)
    {
        Html.RenderPartial("_IndexDeniedApproval", Model);
    }
    else if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Approved)
    {
        Html.RenderPartial("_IndexApproved", Model);
        @section Scripts {
            @Scripts.Render("~/bundles/js-cookie")
            <script src="~/Scripts/ContractorPartials.js"></script>
            <script src="~/Scripts/GoogleMapAPI.js"></script>
        }
    }
    else
    {
        <p>Internal server error. Unknown contractor state.</p>
    }
}
