@model PracticalWerewolf.ViewModels.Contractor.PendingContractorsModel


@{
    ViewBag.Title = "Approve contractor requests";
}

@Html.Partial("_StatusMessage")

<div id="result">

</div>

<h2>Approve contractor requests</h2>
@if (Model.Pending.Count() <= 0)
{
    <p class="alert alert-success">All contractors are approved!</p>
}
else
{
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>
                    Phone number
                </th>
                <th>
                    Email
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pending.FirstOrDefault().ContractorInfo.DriversLicenseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pending.FirstOrDefault().ContractorInfo.HomeAddress)
                </th>
                <th>
                    Background check
                </th>
                <th style="width:100px">Approve</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ApprovalModel in Model.Pending)
            {
                <tr>
                    <td>@ApprovalModel.PhoneNumber</td>
                    <td><a href="mailto:@ApprovalModel.Email">@ApprovalModel.Email</a></td>
                    <td>
                        @Html.DisplayFor(modelItem => ApprovalModel.ContractorInfo.DriversLicenseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ApprovalModel.ContractorInfo.HomeAddress)
                    </td>
                    <td>
                        <a href="#"><span class="label label-success"><span class="glyphicon glyphicon-check"></span> Passed</span></a>
                    </td>
                    <td class="btn-group" style="width:150px">
                        @Html.ActionLink("Approve", "Approve", "Contractor", new { Guid = ApprovalModel.ContractorInfo.ContractorInfoGuid, IsApproved = true }, new { @class = "btn btn-xs btn-default"})
                        @Html.ActionLink("Deny", "Approve", "Contractor", new { Guid = ApprovalModel.ContractorInfo.ContractorInfoGuid, IsApproved = false }, new { @class = "btn btn-xs btn-default" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
