@model System.Device.Location.CivicAddressDb

@{
    ViewData["type"] = "CivicAddressDb";
}

<section class="map-autocomplete-element">
<div class="form-group">
    @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.RawInputAddress, new { @class = "form-control map-autocomplete-input" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Route, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Route, new {
            disabled = "disabled",
            @class = "form-control map-autocomplete-field",
            data_map_autocomplete_field = "route",
            data_map_autcomplete_datatype = "short_name"
        })

        @Html.ValidationMessageFor(model => model.Route, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StreetNumber, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.StreetNumber, new {
            disabled = "disabled",
            @class = "form-control map-autocomplete-field",
            data_map_autocomplete_field = "street_number",
            data_map_autcomplete_datatype = "long_name"
        })

        @Html.ValidationMessageFor(model => model.StreetNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.City, new {
            disabled = "disabled", 
            @class = "form-control map-autocomplete-field",
            data_map_autocomplete_field = "locality",
            data_map_autcomplete_datatype = "long_name"
        })

        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.State, new {
            disabled = "disabled", 
            @class = "form-control map-autocomplete-field",
            data_map_autocomplete_field = "administrative_area_level_1",
            data_map_autcomplete_datatype = "long_name"
        })

        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.ZipCode, new {
            disabled = "disabled", 
            @class = "form-control map-autocomplete-field",
            data_map_autocomplete_field = "postal_code",
            data_map_autcomplete_datatype = "short_name"
        })

        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Country, new { 
            disabled = "disabled", 
            @class = "form-control map-autocomplete-field",
            data_map_autocomplete_field = "country",
            data_map_autcomplete_datatype = "long_name"
        })

        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
    </div>
</div>
</section>