@model PracticalWerewolf.ViewModels.Search.SearchResultViewModel

@using Microsoft.AspNet.Identity
@using PracticalWerewolf.ViewModels.Search

<h2>@(String.IsNullOrEmpty(Model.Query) ? "Users" : "Search results for " + Html.Encode(Model.Query))</h2>

@{
    ViewBag.Title = (String.IsNullOrEmpty(Model.Query) ? "Users" : Html.Encode(Model.Query)) + " - Search";
}

<p class="text-muted">@Model.PagedData.TotalResults result@(Model.PagedData.TotalResults == 1 ? "" : "s") found</p>

@if (Model.Users.Count() > 0)
{
    <ul class="list-group">
        @foreach (UserSearchResult UserInfo in Model.Users)
        {
        <li class="list-group-item">

            @UserInfo.Email

            @{
                Html.RenderPartial("_LabelHelper", UserInfo);
            }

            

            <div class="pull-right btn-group btn-group-xs" role="group">
                @if (Request.IsAuthenticated)
                {
                    if (UserInfo.TruckGuid.HasValue)
                    {
                        @Html.ActionLink("See Truck", "Details", "Truck", new { id = UserInfo.TruckGuid.Value.ToString() }, new { @class = "btn btn-xs btn-link" })
                    }
                    else if (UserInfo.IsContractor)
                    {
                        <a href="#" class="btn btn-xs btn-link disabled">No truck</a>
                    }
                }

                @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                {
                    if (!UserInfo.IsEmployee)
                    {
                        @Html.ActionLink("Make employee", "SetEmployee", "Administration", new { UserId = UserInfo.Id }, new { @class = "btn btn-xs btn-link" })
                    }
                    else
                    {
                        @Html.ActionLink("Remove employee", "RemoveEmployee", "Administration", new { UserId = UserInfo.Id }, new { @class = "btn btn-xs btn-link" })
                    }

                    if (UserInfo.BanTime.HasValue)
                    {
                        @Html.ActionLink("Unban user", "UnbanUser", "Administration", new { UserId = UserInfo.Id }, new { @class = "btn btn-xs btn-link" })
                    }
                    else
                    {
                        @Html.ActionLink("Ban user", "BanUser", "Administration", new { UserId = UserInfo.Id }, new { @class = "btn btn-xs btn-link" })
                    }
                }
            </div>
        </li>
        }
    </ul>

    Html.RenderPartial("_PagedDataNavigator", Model.PagedData);
} else {

}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}