@model PracticalWerewolf.ViewModels.TruckDetailsViewModel
<header>
    <script src="~/Scripts/TruckDetails.js" defer="defer"></script>
</header>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TruckDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<script language=javascript src='http://maps.google.com/maps/api/js?sensor=false'></script>
<>
$(document).ready(function (){
    var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
    var myOptions = {
        zoom: 4,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map($('#map'), myOptions);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,

        title:"Fast marker"
    });
}


<div id="map"></div>