@model PracticalWerewolf.ViewModels.TruckDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Truck Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.owner.UserName )
        </dt>
        <dd>
            @Html.DisplayFor(model => model.owner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </dt>
        <dd></dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxCapacity.Mass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxCapacity.Mass )
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxCapacity.Volume )
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxCapacity.Volume)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Guid  }) |
    @Html.ActionLink("Back to List", "Index")
</p>

