@model PracticalWerewolf.ViewModels.TruckIndexViewModel

@{
    ViewBag.Title = "Active trucks";
}

<h2>Company Truck <small>Trucks, Trucks and even more Trucks</small></h2>
<hr />

@{ if (!Model.HasTruck)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().Owner.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().LicenseNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().MaxCapacity.Volume)</th>
            <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().MaxCapacity.Mass)</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trucks)
        {
            Html.RenderPartial("_TruckDetails", item);
        }
    </tbody>
</table>
