@model PracticalWerewolf.ViewModels.TruckIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message</h2>

@{ if (!Model.HasTruck)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().owner.Email )</th>
        <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().LicenseNumber )</th>
        <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().MaxCapacity.Volume )</th>
        <th>@Html.DisplayNameFor(model => model.Trucks.FirstOrDefault().MaxCapacity.Mass )</th>
        <th></th>
    </tr>

@foreach (var item in Model.Trucks) {
    <tr>
        <td>@Html.DisplayFor(model => item.owner.Email )</td>
        <td>@Html.DisplayFor(m => item.LicenseNumber)</td>
        <td>@Html.DisplayFor(m => item.MaxCapacity.Volume )</td>
        <td>@Html.DisplayFor(m => item.MaxCapacity.Mass )</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Guid }) |
        @Html.ActionLink("Details", "Details", new { id = item.Guid }) </td>        
    </tr>
}

</table>
