@model PracticalWerewolf.ViewModels.TruckIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.Trucks) {
    <tr>
        <td>@Html.DisplayFor(m => item.TruckGuid)</td>
        <td>@Html.DisplayFor(m => item.LicenseNumber)</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.TruckGuid }) |
        @Html.ActionLink("Details", "Details", new { id = item.TruckGuid }) </td>


        
    </tr>
}

</table>
